<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car_insurance.mapper.BossMapper">

    <!--周小东-->
    
    <resultMap id="exployeeMap" type="com.car_insurance.entity.EmployeeTableExample">
        <id column="employee_id" property="employee_id"/>
        <result column="employee_name" property="employee_name"/>
        <result column="employee_tel" property="employee_tel"/>
        <result column="employee_sex" property="employee_sex"/>
        <result column="role_id" property="role_id"/>
        <collection property="role" ofType="RoleExample"/>
            <id column="roleId" property="role_id"/>
            <result column="" property=""/>
        <result column="" property=""/>




    </resultMap>
    
    
    
   <!--查询所有员工信息-->
    <select id="findAllUser" resultType="com.car_insurance.entity.EmployeeTableExample">

   SELECT
            et.`employee_id`,et.`employee_name`,et.`employee_sex`,et.`employee_tel`,ro.`role_name`,li.`limits_name`,li.`tittle`
        FROM
            employee_role er,employee_table et ,role ro,limits li,rolelimits rl
        WHERE er.`employee_id`=et.`employee_id`
        AND er.`role_id`=ro.`role_id`
        AND li.`limits_id`=rl.`limits_id`
        AND rl.`role_id`=ro.`role_id`
    </select>


</mapper>