<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car_insurance.mapper.UsersMapper">

    <select id="selectAllUsers" resultType="com.car_insurance.entity.Users">
        select * from users
    </select>


</mapper>